body {
  font-family: 'Open Sans', sans-serif;
  color: #413729;
  background: white;
}
body *:not(i) {
  font-family: 'Open Sans', sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: 'Open Sans', sans-serif;
}
a {
  color: #b2a386;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
}
header #headermenu .headermenuitem {
  color: white;
  padding: 0 0.5rem;
  border-right: 1px solid white;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
}
#home {
  width: 100vw;
  min-height: 100vh;
}
